---
const currentYear = new Date().getFullYear();

---

<footer class="  text-white  px-6 mt-8">

  
  <div class="max-w-7xl py-8 border-t border-orange-600 flex flex-col sm:flex-row justify-between items-center gap-4">
    <p class="text-black text-sm">&copy; {currentYear} Eduardo Cortez. All rights reserved.</p>
    <a href="https://educortez.com" class="text-orange-400 hover:underline text-sm flex items-center gap-2 group font-bold ">
          
        <img 
          src="/educortez.svg" 
          alt="Eduardo Cortez Logo" 
          height="auto" 
          class="w-5 transition-transform duration-300 group-hover:scale-105"
        />
    
          educortez.com
    </a>
  </div>
</footer>